* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

*::-webkit-scrollbar {
  display: none;
}

html,
body,
#app {
  width: 100vw;
  height: 100vh;

  margin: 0px;
}

body,
#app {
  position: absolute;
  top: 0;
  left: 0;
}

.v-application {
  background: transparent !important;
}
